.servicesContainer {

    padding-top: 30px;

    padding-left: 1%;

    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
    grid-auto-rows:max-content;
    
    grid-gap: 4rem;

    background-image:
    linear-gradient(to right, #064d18a3 40%, #9c940285),
    url('https://imgs.search.brave.com/W4RcETk3nkY_AET1s9PXvGD-WE7OZr4NPiFEgNIO1NI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzIxLzA2Lzk1/LzM2MF9GXzMyMTA2/OTUwMF9qZ2lFNjQw/WUE4REh0Wmp3TVJm/dGNUdG5ZTm83c0h3/Ui5qcGc');
 
    background-position: center;

    height: 100vh;
    
    }