.section1H1 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  /* margin-top: 100px; */
  text-align: center;
}

.cardContainer {
  z-index: 9;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  margin: auto;
}

.card {
  width: 300px;
  padding: 30px;

  border-radius: 46px;

  border: 1px solid;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  direction: rtl;
  position: relative;

  h2 {
    color: black;
    font-weight: 600;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }

  p {
    color: black;
    font-weight: 600;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
  }

  img {
    z-index: 9;
  }

  a {
    z-index: 9;

    color: black;
    font-weight: 600;
  }
}

.card img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: transform 0.9s;
  position: relative;
}

.backgroundEfect {
  position: absolute;
  z-index: 1;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  opacity: 0;
  border-radius: 46px;

  transform: scale(0.2, 1);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  background: linear-gradient(to bottom, #2b9155 0%, #a7ae34 100%);
  /* background-color: black; */
}

.card:hover {
  .backgroundEfect {
    opacity: 1;
    transform: scale(1, 1);
  }

  h2 {
    color: #fff;
    z-index: 9;
  }

  p {
    color: #fff;
    z-index: 9;
  }

  img {
    transform: rotateY(180deg);
  }

  a {
    z-index: 9;

    color: #fff;
  }
}

@media (max-width: 1550px) {
  .cardContainer {
    padding: 35px 60px;
  }
}

@media (max-width: 1280px) {
  .cardContainer {
    padding: 35px 10px;
  }
}

@media (max-width: 960px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin-bottom: 30px;
  }
}

@media (max-width: 660px) {
  .section1H1 {
    margin-top: 100px;
  }

  .card {
    margin-bottom: 30px;
  }
}
