.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 50px 0;
}

.newasIcon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
