@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(207, 207, 207);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 206, 58);
  border: none;
}

* {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
